src/main/resources/META-INF/birthmark-4.0.dtd

<?xml version="1.0" encoding="euc-jp"?>

<!--
 $Id: birthmark-3.0.dtd 61 2007-03-03 06:54:58Z tama3 $
-->

<!ELEMENT classpath     (#PCDATA)>

<!ELEMENT type          (#PCDATA)>
<!ELEMENT display-name  (#PCDATA)>
<!ELEMENT description   (#PCDATA)>
<!ELEMENT extractor     (#PCDATA)>
<!ELEMENT comparator    (#PCDATA)>

<!ELEMENT suffix        (#PCDATA)>
<!ELEMENT prefix        (#PCDATA)>
<!ELEMENT match         (#PCDATA)>

<!ELEMENT name          (#PCDATA)>
<!ELEMENT value         (#PCDATA)>

<!ELEMENT criterion     (#PCDATA)>
<!ELEMENT filter-type   (#PCDATA)>

<!ELEMENT exclude ((suffix,prefix,match)*)>

<!ELEMENT package ((suffix,prefix,match)*)>

<!ELEMENT class-name ((suffix,prefix,match)*)>

<!ELEMENT fully-name ((suffix,prefix,match)*)>

<!ELEMENT wellknown-classes ((exclude,package,class-name,fully-name)*)>

<!ELEMENT property (name,value)>

<!ELEMENT properties (property*)>

<!ELEMENT service (type,display-name,description,extractor,comparator)>

<!ELEMENT services (service*)>

<!ELEMENT classpath-list (classpath*)>

<!ELEMENT attribute (name,value)>

<!ELEMENT attributes (attribute*)>

<!ELEMENT filter (filter-type,criterion,attributes)>

<!ELEMENT filter-list (filter*)>

<!ELEMENT filterset (name,match,filter-list)>

<!ELEMENT filterset-list (filterset*)>

<!ELEMENT birthmark ((services,wellknown-classes,classpath-list,properties,filterset-list)*) >

